/*AULA 4 - CSS PARA FORMULARIO DE INSCRIÇÃO
TOPICOS PRINCIPAIS:
1. estilização de inputs, selects e textarea
2.layout flexbox para groups de formulario
3.botões interativos com hover
4.backgrouds em gradiente (desktop)
5.sombras de profundidade
*/

/* Estilos Globais*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'inter', sans-serif;
    background-color: rgb(226, 195, 212);
    padding: 20xp;
    /*FLEXBOX: centralizar o formulario
    justify-content: center= centralizando horizontalmente
    align-items: center alinhando no topo (mobile para facilitar o scroll*/

    display: flex;
    justify-content: center;
    align-items: center;

    /* altura minima para ocupar a tela toda*/
    min-height: 100vh;
    }

    /*WRAPPER DO FORMULARIO*/

    .form-wrapper {
        background-color: aliceblue;
        padding: 25px;
        border-radius: 12px;
        width: 100%;
        max-width: 450px;        
    }

    /* titulo do formulario*/

    h2{
        text-align: center;
        font-size: 1.4rem;
        color: #333;
        margin-bottom: 25px;
        
    }

    .form-group{ 
        /*organizando label sobre input*/

        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    label{ 
        margin-bottom: 5px;
        font-size: 0.9rem;
        font-weight: bold;
        
    }

    input, select, textarea {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 1rem;
        
    }

    button {
        width: 100%;
        padding: 15px;
        background-color: pink;
        color: rgb(2, 0, 3);
        border: none;
        border-radius: 6px;
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 10px;
    }

    /*Media Query*/

    @media (min-width: 768px) {
        body{
            align-items: center;
            /*gradiente do fundo*/
            background: linear-gradient(135deg, pink 0% rgb(218, 49, 195 100%));
        }

        .form-wrapper{ 
            padding: 40px;
            box-shadow: 0 15px 35px rgba(15,0,0,0.2)
            
        }

        button:hover {

            background: rgb(184, 30, 102);
            cursor: pointer;
        }
    }